{% extends "base.html" %}
   {% block main %}
   <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}" />
   
   
  <div class="main">
    <div class="color">
      <img src="{{ url_for("static", filename='css/bob.jpg')}}"></img> 
      <div id="info" ><h1> Omari Domville</h1> </div>
      <div id="username"><h6>@dongoblaze</h6> </div>
      <div id="location">  <h6>Portmore,St.Catherine</h6> </div>
      <div id="datejoined"> <h6> {{ date}} </h6> </div>
    </div>
    <div class=lowercolor>
      <div id="details"><br> <p> My name is Omari Domville,Im a very unpredicatable person and fun to around.</p></div>

    <div id ="flex">
      
     
      <button class="button"> Message </button>
      <button class="button"> Follow </button>                                                                                              
    </div>  
  </div>

  {% endblock %}