{% extends "base.html" %}

{% block main %}
<div class="main">
<h1> <b>Profiles</b></h1>
{% for user in users %}

<form action="{{ url_for('getuserid', id=user.id) }}" method="GET">
    <div class="profiles">
        <div class="profilepic" >
        <img class="profilepic" src="{{ url_for('static', filename='uploads/'+user.photo) }}"></img>
        </div>    
        <div class="pinfo">
            <h4 class="name">{{ user.fname}} {{ user.lname }}</h4> <br/>
            <p class :gender><img class="icon" src="../static/personicon.png"/> {{ user.gender }}</p> 
            <p class :location></p> <img class="icon" src="../static/location.png"/> {{ user.location }} <br/>
        </div>
        <div id="btninfo">
            <button type="submit" class="btn btn-primary">View Profile</button>
        </div>
    </div>
</form>
    <br/>
{% endfor %}
</div>
{% endblock %}