{% extends "base.html" %}

{% block title %} Profiles {% endblock %}

{% block main %}

{% for user in users %}

<form action="{{ url_for('getuserid', id=user.id) }}" method="GET">
    <div class="profiles">
        <img class="pic" src="{{ url_for('static', filename='uploads/'+user.photo) }}"></img>
        
        <div class="info">
            <span class="name">{{ user.first_name}} {{ user.last_name }}</span> <br/>
            
            <b>Gender:</b> {{ user.gender }} <br/>
            <b>location:</b> {{ user.location }} <br/>
            <button type="submit" class="btn btn-primary">View Profile</button>
            
        </div>
    </div>
</form>
    <br/>
{% endfor %}

{% endblock %}