
  {% extends "base.html" %}

  {% block title %} View User {% endblock %}
  
  {% block main %}
  
  <div class="profile">
      <img src="{{ url_for('static', filename='uploads/'+ userprofile.photo) }}"></img>
  
      <div class="info">
          <span class="name">{{ userprofile.first_name}} {{ userprofile.last_name }}</span> <br/>
          <!-- <span class="cdate"><b>Profile Created On: </b>{{ userprofile.profile_created_on }}</span> <br/><br/>
           -->
          <b>Email:</b> {{ userprofile.email }} <br/>
          <b>Location:</b> {{ userprofile.location }} <br/>
          <b>Joined:</b>  {{ userprofile.profile_created_on }}<br/>
          <b>About me:</b> {{ userprofile.biography }}  <br/>
          <button class="button"> Message </button>
          <button class="button"> Follow </button>    
      </div>
  </div>
  
  {% endblock %}